body {
    background-color: rgb(184, 35, 35);
    margin: 0;
    padding: 0;
    color: white;
  }
  
  
  .main-style {
    background-color: rgb(122, 119, 119);
    margin-right: 10%;
    margin-left: 10%;
    margin-bottom: 2%;
  }
  
  .main-style .page-header h1 {
    font-size: 50px;
    color: white;
    background-color: #111;
    padding: 4%;
    text-align: center;
  }
  
  .main-style .page-header a {
    list-style: none;
    text-decoration: none;
  }
  
  .main-style .page-header div h2 {
    text-align: center;
  }
  
  /* Nav  Style */
  nav.navbar {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
    position: -webkit-sticky;
    /* Safari */
    position: sticky;
    top: 0;
  }
  
  nav.navbar ul.navbar-nav {
    color: black;
    list-style-type: none;
    overflow: auto;
    background-color: #333;
    padding: 0;
    margin: 0;
  }
  
  nav.navbar ul.navbar-nav li.nav-item {
    text-align: center;
    float: right;
    border-right: 1px solid #bbb;
  }
  
  nav.navbar ul.navbar-nav li.home {
    float: left;
  }
  
  nav.navbar ul.navbar-nav li.nav-item a {
    font-size: 20px;
    display: block;
    color: white;
    padding: 14px 16px;
    text-decoration: none;
  }
  
  nav.navbar ul.navbar-nav li.nav-item a:hover:not(.active) {
    background-color: #111;
  }
  
  /* Making the Nav bar goes vertical, if the screen is resized */
  @media screen and (max-width: 600px) {
  
    nav.navbar ul.navbar-nav li.home,
    nav.navbar ul.navbar-nav li.nav-item {
      float: none;
    }
  }
  /* End of Nav bar*/
  
  
  /* For all the links */
  a {
    list-style: none;
    text-decoration: none;
    color: rgb(30, 59, 221);
  }
  
  a:hover {
    text-decoration: underline;
  }
  
  .index{
    color: rgb(0, 0, 0);
  }
  
  /* Table Styles here for Home Page */
  section.container-content div table {
    overflow: hidden;
    text-align: center;
    clear: both;
    overflow: auto;
  }
  
  section.container div table td,
  th {
    border: 1px solid rgb(20, 19, 19);
    overflow: hidden;
    width: 150px;
    text-align: center;
    padding-bottom: 1%;

  
  }
  
  section.container div table img {
    width: 20px;
    clear: right;
  }
  
  section.container {
    background-color: #c5c7ce;
    overflow: auto;
    color: black;
    padding-bottom: 2%;
    margin-right: 10%;
    margin-left: 10%;
    width: auto;

  }
  
  section.container .container-content {
    overflow: auto;
    padding: 0%;
    margin: 0;
    clear: left;
    overflow: hidden;
  }
  
  section.container .container-content div.left {
    float: left;
    overflow: auto;
  }
  
  section.container .container-content div.left img {
    width: 200px;
    background-color: #0051ff;
    height: 0 auto;
    overflow: hidden;
  }
  
  .right {
    overflow: auto;
    padding-left: 2%;
    padding-right: 10%;
    padding-bottom: 10%;
    
  }
  
  /* Footer */
  footer.footer {
    text-align: center;
    background-color: rgb(0, 0, 0);
    overflow: hidden;
    padding-bottom: 1%;
  }
  
  footer a {
    color: white;
    text-align: center;
    text-decoration: none;
    list-style-type: none;
    overflow: hidden;
  }
  
  footer a:hover:not(.active) {
    background-color: #111;
  }
  
  /*FaceBook Logo */
  .fa {
    font-size: 2px;
    text-align: center;
    text-decoration: none;
    overflow: auto;
    clear: right;
  }
  
  .fa-facebook {
    background: #0051ff;
    color: white;
  }